/* meyer reset */
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* document css */
body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 180px auto;
    grid-template-columns: minmax(300px, 1fr) 5fr;
}



/* navbar */
nav{
    background-color: black;
    grid-area: 1/1/3/2;
    color: white;
    display: grid;
    padding: 10px;
    grid-template-rows: max-content max-content max-content;
    gap: 50px;
}

nav>div{
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 20px 10px;
}

nav h1, nav h3{
    align-self: center;
}

nav img{
    justify-self: center;
    width: 35px;
    height: 35px;
}

div.top>img{
    width: 50px;
    height: 50px;
}


h1, h2, h3, h4, h5, h6{
    margin: 0px;
}




/* header */
header{
    background-color: yellow;
    display: grid;
    grid-template-rows: max-content max-content;  
    padding: 0px 50px 0px 50px ;     
    align-content: center;
    gap: 10px;
}

header img{
    width: 35px;
    height: 35px;
}

/* header top */
header input{
    height: 25px;
    width: 100%;
    border-radius: 50px;
}
.top-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 90px;
}

.top-left-header{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
}

.top-right-header{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
}

.small-profile-icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

/* header bottom */
.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.bottom-left-header{
    display: grid;
    grid-template-columns: max-content 1fr;  
    gap: 10px;
}

.bottom-left-header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bottom-right-header{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: end;
    gap: 40px;
    padding-right: 20px;
}

.bottom-right-header>button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}

#big-profile-icon{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}


/* main */
main{
    background-color: blue;
    padding: 50px;
    
}

.card-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}

.card{
    height: 200px;
    background-color: white;
    position: relative;
}

.card:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background-color: green;
}