/* meyer reset */
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* document css */

:root{
    --main-30: #262626;
    --main-60: #f5f5f4;
    --header-card-background: #e5e5e5 ;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 180px auto;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    background-color: var(--main-60)
}

img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

/* navbar */
nav{
    background-color: var(--main-30);
    grid-area: 1/1/3/2;
    color: white;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 50px;
}
.nav-card, .nav-card-no-hover{
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 10px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-card:hover{
    border-left: 20px solid green;
    background-color: #313030;
}

.top{
    padding-top: 10px;
}

nav h1, nav h3{
    align-self: center;
}

nav img{
    justify-self: center;
}

.large-icon{
    align-self: center;
    width: 50px;
    height: 50px;
}


h1, h2, h3, h4, h5, h6{
    margin: 0px;
}




/* header */
header{
    background-color: var(--header-card-background);
    display: grid;
    grid-template-rows: max-content max-content;  
    padding: 0px 50px 0px 50px ;     
    align-content: center;
    gap: 10px;
    box-shadow: 0px 4px 4px -5px var(--main-30);
}

 

/* header top */
header input{
    height: 25px;
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: var(--main-60);
}


input:focus-visible{
    outline: none;
    border: 2px solid var(--main-30);
}

button,input{
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

button{
    background-color: var(--main-30);
    color: var(--main-60);
}

.top-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 90px;
}

.top-left-header{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
}

.top-right-header{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
}

.small-profile-icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}


/* header bottom */
.bottom-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.bottom-left-header{
    display: grid;
    grid-template-columns: max-content 1fr;  
    gap: 10px;
}

.bottom-left-header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bottom-right-header{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: end;
    gap: 40px;
    padding-right: 20px;
}

.bottom-right-header>button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}

#big-profile-icon{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}




/* main */
main{
    background-color: var(--main-60);
    padding: 20px 50px;
    display: grid;
    grid-template-columns: auto 275px;
    grid-template-rows: max-content  ;
    gap: 15px 25px;
    margin-top: 5px;
    
}

.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.card{
    background-color: white;
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(to right, green 10px, transparent 10px);
    box-shadow: 6px 6px 6px -4px var(--main-30);
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: var(--header-card-background);

}

.card-body{
    padding-top: 10px;
}

.card-icons{
    justify-self: end;
    display: flex;
    gap: 10px;
}

.main-right, .main-left{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.announcements, .trending{
    background-color: var(--header-card-background);
    box-shadow: 6px 6px 6px -4px var(--main-30);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-auto-rows: 1fr;
}

.announcement{
    padding: 10px 0px 10px 0px;
}
.announcement:not(:last-child){
    border-bottom: 1px solid gray;
}


.trending{
    gap: 10px;
    padding: 10px;
}

.trending-card{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.light{
    color: rgb(136, 133, 133)
}